<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>初识Vue</title>
    <script type="text/javascript" src="../vue.js"></script>
</head>
<body>
    <!-- 准备容器 -->
    <div id="root">
        
        <h2>人员列表</h2>
        <input type="text" placeholder="请输入名字" v-model="keyWords">
        <ul>
            <li v-for="(p,index) of people" :key="p.id">
                {{p.name}}-{{p.age}}-{{p.gender}}
            </li>
        </ul> 

        
    </div>
   
    <script type="text/javascript">
        Vue.config.productionTip = false; //阻止 vue 在启动时生成生产提示

        //创建Vue实例
        new Vue({
            el:'#root', 
            data(){
                return{
                    keyWords:'',
                    people:[
                        {id:001,name:'马冬梅',age:19,gender:'女'},
                        {id:002,name:'周冬雨',age:20,gender:'女'},
                        {id:003,name:'周杰伦',age:21,gender:'男'},
                        {id:004,name:'温兆伦',age:22,gender:'男'}
                    ],  
                }
            },
            watch:{
                
            }
        });

       

    </script>
</body>
</html> 